<div *ngIf="localShoppingCart.length != 0">
    <mat-card class="card" *ngFor="let event of localShoppingCart; index as i">
        <h4>{{event.title}} - {{event.subtitle}}</h4>
        <div class="row" *ngFor="let element of event.sessions">
            <div class="container">
                <div class="col-4" style="padding-right: 20px;">
                    {{formatDate(element.date)}}
                </div>
                <div class="col-4">
                    x{{checkAvailability(element, event)}}
                </div>
                <div class="col-4">
                    <button class="buttonTrash" (click)="deteleElement(event, element)">
                        <img [src]="'/assets/img/trash.png'" class="img">
                    </button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div *ngIf="localShoppingCart.length == 0">
    <mat-card>
        <span>
            No hay elementos en el carrito
        </span>
    </mat-card>
</div>
<div class="row">
    <button mat-raised-button class="button" color="primary" (click)="goToHome()">
        <mat-icon>arrow_back</mat-icon> Vover
    </button>
</div>

