<div *ngIf="localShoppingCart.length != 0">
    <mat-card *ngFor="let event of localShoppingCart; index as i">
        <h4>{{event.title}} - {{event.subtitle}}</h4>
        <div class="row" *ngFor="let element of event.sessions">
            <div class="col-4">
                {{formatDate(element.date)}}
            </div>
            <div class="col-4">
                {{checkAvailability(element, event)}}
            </div>
            <div class="col-4">
                <button (click)="deteleElement(event, element)">
                    <img [src]="'/assets/imgtrash.png'">
                </button>
            </div>
        </div>
    </mat-card>
</div>
<div *ngIf="localShoppingCart.length == 0">
    <mat-card>
        <span>
            No hay elementos en el carrito
        </span>
    </mat-card>
</div>
<div class="row">
    <button mat-raised-button class="button" color="primary" (click)="goToHome()">
        Vover
    </button>
</div>

