.buttonTrash {
    border: none;
    background-color: white;
}

.img {
    width: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.button {
    margin-top: 10px;
}