.gridCard {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding:0 20px;
}

.card {
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

@media (min-width: 960px) {
    .gridCard {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 959px) {
    .gridCard {
        grid-template-columns: 100%
    }
}

.buttonFooter{
    width: -webkit-fill-available;
    align-self: flex-end;
}