.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 184, 250);
    padding: 10px 20px;
}

.cartButton {
    background-color: transparent;
    border: none;
    padding-right: 0px;
}
